<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Osobní web</title>
  </head>
  <body>
    <h2>Příspěvky</h2>
    <ul>
      {{BLOG_POSTS}}
    </ul>
    <h2>Projekty</h2>
    <ul>
      <li>Nothing yet.</li>
    </ul>
    <h2>Zápisky MFF UK</h2>
    <h3>Letní semestr 2025/26</h3>
    <ul>
      <li>Nothing yet</li>
    </ul>
    <h3>Zimní semestr 2025/26</h3>
    <ul>
      <li>
        <a href="content/notes/zs_2025_2026/principy.pdf"
          >Principy počítačů (PDF, ručně psané)</a
        >
      </li>
      <li>
        <a href="content/notes/zs_2025_2026/uvod_do_siti.pdf"
          >Úvod do počítačových sítí (PDF, ručně psané)</a
        >
      </li>
      <li>
        <a href="content/notes/zs_2025_2026/algoritmizace.pdf"
          >Algoritmizace (PDF, ručně psané)</a
        >
      </li>
      <li>
        <a href="content/notes/zs_2025_2026/linearni_algebra_1.pdf"
          >Lineární algebra 1 (PDF, ručně psané)</a
        >
      </li>
      <li>
        <a href="content/notes/zs_2025_2026/diskretni_matematika.pdf"
          >Diskrétní matematika (PDF, ručně psané)</a
        >
      </li>
      <li>
        <a href="https://github.com/dwd97/minesweeper_pygame"
          >Zápočtový program (Minesweeper)</a
        >
      </li>
    </ul>
  </body>
</html>
